In [1]:
#Q1
age=21

In [2]:
#Q2
height=1.73

In [3]:
complex_number=(2+3j)

In [4]:
#Q4
base=float(input("enter base:"))
height=float(input("enter height:"))
area=0.5*base*height
print("The Area is:",area)

enter base: 20
enter height: 10

The Area is: 100.0

In [5]:
#Q5
a=float(input("side a:"))
b=float(input("side b:"))
c=float(input("side c:"))
perimeter=a+b+c
print("The perimeter of the triangle is:",perimeter)

side a: 5
side b: 4
side c: 3

The perimeter of the triangle is: 12.0

In [12]:
#Q6
length=float(input("length:"))
width=float(input("width:"))
area=length*width
perimeter=2*(length+width)
print("The area is:",area)
print("The perimeter is:",perimeter)

length: 10
width: 5

The area is: 50.0
The perimeter is: 30.0

In [15]:
#Q7
import math 
radius=float(input("Radius:"))
area=math.pi*radius*radius
circumference=2*math.pi*radius
print("The area:",area)
print("The circumference:",circumference)

Radius: 5

The area: 78.53981633974483
The circumference: 31.41592653589793

In [54]:
#Q8
m=2
x_intercept=1
y_intercept=-2

In [42]:
#Q9
import math
x1=2
y1=2

x2=6
y2=10

m=(y2-y1)/(x2-x1)
d=math.sqrt((x2-x1)**2 + (y2-y1)**2)

print(m)
print(d)

2.0
8.94427190999916

In [43]:
#Q11
x=float(input("x:"))
y=x**2 + 6*x + 9
print("y is",y)

x: 3

y is 36.0

In [55]:
a=print(len('python'))
b=print(len('dragon'))
a!=b

6
6

False

In [56]:
a='python'
b='dragon'
print('on' in a and 'on' in b)

True

In [57]:
sentence="I hope this course is not full of jargon"

print("jargon" in sentence)

True

In [65]:
print(len("python"))
print(float(len("python")))
print(str(float(len("python"))))

6
6.0
6.0

In [70]:
number=int(input("input number:"))
print("Is number even:",number%2==0)

input number: 4

Is number even: True

In [74]:
7//3==int(2.7)

True

In [75]:
type('10')== type(10)

False

In [79]:
hours=int(input("hours:"))
rate=int(input("rate per hoiur:"))
total=hours*rate
print("Your weekly earnings is:",total)

hours: 40
rate per hoiur: 28

Your weekly earnings is: 1120

In [82]:
years=int(input("number of years:"))
a_year=31536000
lived=a_year*years
print("You have lived for",lived,"seconds")

number of years: 21

You have lived for 662256000 seconds

In [7]:
for i in (1,2,3,4,5,6):
    print(i,1,i,i**2,i**3)

1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125
6 1 6 36 216